<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Reset</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/strength.css">
    <script src="/js/strength.js"></script>
</head>

<body>
    <script>
    $(document).ready(function ($) {
        $("#id_password").strength();
    });
    </script>
    <div class="container">
        <h1>Reset</h1>
        <form action="/reset" method="POST">
            <div class="form-group">
                <span style="width:80px;text-align:left;display:inline-block;">
                    <label for="username">User Name</label>
                </span>
                <input type="text" name="username" placeholder="Your user name"><br>
                <span style="width:80px;text-align:left;display:inline-block;">
                </span>
                <input type="password" name="password" placeholder="Your password">
            </div>
            <div class="form-group">
                <span style="width:80px;text-align:left;display:inline-block;float:left;">
                    <label for="password">Password</label>
                </span>
                <div style="float:left;">
                    <input id="id_password" type="password" name="password1" placeholder="Your New password">
                    <input type="password" name="password2" placeholder="Repeat your password">
                </div>
            </div>
            <div style="clear:both;"></div>
            <br>
            <span style="width:80px;text-align:left;display:inline-block;"> </span>
            <button type="submit" class="btn btn-success">Reset</button>
        </form>
    </div>
</body>

</html>
